services:
  express:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: express_server
    restart: unless-stopped
    env_file:
      - ../.env

  nginx:
    image: nginx:latest
    container_name: nginx_server
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - express
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt

  certbot:
    image: certbot/certbot
    container_name: certbot
    depends_on:
      - nginx
    env_file:
      - ../.env
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
